{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 side">
                <nav class="navbar">
                    <a class="navbar-brand logo" href="defaut"><img width="35" height="35" src="{{ asset('build/logo.svg') }}"><strong>Sport</strong>Search</a>
                    <form class="navbar-form navbar-right inline-form" id="div_input_search_web">
                        <input type="text" id="input_search_web" name="input_search_web">
                        <img id="img_search" src="{{ asset('build/Search.svg') }}">
                    </form>
                    <form class="navbar-form navbar-right inline-form" id="div_input_search">
                        <input type="text" id="input_search" name="input_search">
                        <img id="img_search" src="{{ asset('build/Search.svg') }}">
                    </form>
                    <ul class="nav navbar-nav menu">
                        <li><a href="#" id="search"><i class="icon"><img src="{{ asset('build/Search.svg') }}"></i></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/all.png') }}" class=""></i><p class="label_responsive">Tous les sports</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Football.svg') }}" class=""></i><p class="label_responsive">Football</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Rugby.svg') }}" class=""></i><p class="label_responsive">Rugby</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Basket.svg') }}" class=""></i><p class="label_responsive">Basket</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Tennis.svg') }}" class=""></i><p class="label_responsive">Tennis</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/F1.svg') }}" class=""></i><p class="label_responsive">F1</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Moto.svg') }}" class=""></i><p class="label_responsive">Moto</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Volley.svg') }}" class=""></i><p class="label_responsive">Volley</p></a></li>
                        <li><a href="#" style="display:flex; align-items:center;"><i class="icon"><img src="{{ asset('build/Golf.svg') }}" class=""></i><p class="label_responsive">Golf</p></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-10 main" id="bulle" >
            </div>
            <div class="col-10 main" id="article">
                <div class="fond_blanc" style="display: none;width: 100%;height: 100%;position: absolute;z-index: 1;align-content: center;justify-content: center;">
                    <img src="{{ asset('build/loading.gif') }}" class=".dialog-animation" style="margin: auto;height: 50%;">
                </div>
                <div class="ensemble" style="display:none;">
                    <div class="article col-12">
                        <img src="{{ asset('build/didi.png') }}" class="imgArticle">
                        <h4>PSG - OM (3-1) : Didier Deschamps réagit sur le comportement de Kylian Mbappé</h4>
                        <h5 class="content">But! Football Club - Il y a 3 heures 18/03/2019</h5>
                        <h5 class="ngrams">Mbappé : 20  Neymar : 18  Ligue 1 : 15  Didier Deschamps : 14</h5>
                    </div>
                    <div class="article col-12">
                        <img src="{{ asset('build/didi.png') }}" class="imgArticle">
                        <h4>PSG - OM (3-1) : Didier Deschamps réagit sur le comportement de Kylian Mbappé</h4>
                        <h5 class="content">But! Football Club - Il y a 3 heures 18/03/2019</h5>
                        <h5 class="ngrams">Mbappé : 20  Neymar : 18  Ligue 1 : 15  Didier Deschamps : 14</h5>
                    </div>
                    <div class="article col-12">
                        <img src="{{ asset('build/didi.png') }}" class="imgArticle">
                        <h4>PSG - OM (3-1) : Didier Deschamps réagit sur le comportement de Kylian Mbappé</h4>
                        <h5 class="content">But! Football Club - Il y a 3 heures 18/03/2019</h5>
                        <h5 class="ngrams">Mbappé : 20  Neymar : 18  Ligue 1 : 15  Didier Deschamps : 14</h5>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</body>

{% extends 'hello.html.twig' %}

{% block body %}

    {% for d in data  %}
         <br>
         {{ d["ngram"] }} => {{ d["count_articles"] }}
    {% endfor%}

{% endblock %}